@import "variables.css";

#analysis_root {
  font-family: var(--font-primary);
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 1em;
  > #analysis_header {
    > h3 {
      font-size: var(--page-header-size);
      font-weight: var(--page-header-weight);
      margin: 0;
    }
    > span {
      font-size: var(--page-subheader-size);
      font-weight: var(--page-subheader-weight);
      opacity: var(--page-subheader-opacity);
    }
  }
  > #analysis_drugs {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: var(--container-border-normal);
    border-radius: var(--primary-border-radius);
    background-color: #ffffff;

    gap: 1em;
    > #active_drugs_header {
      display: flex;
      justify-content: space-between;
      > #active_drugs_label {
        font-weight: 600;
        opacity: 70%;
        font-size: 0.8em;
      }
      > #active_drugs_quantity {
        font-size: 0.8em;
        box-sizing: border-box;
        font-weight: 550;
        color: #1c4fe6;
        background-color: #0053f810;
        padding: 4px 1em;
        border-radius: 12px;
      }
    }
    > #active_drugs_list {
      display: flex;
      gap: 1em;
      > li {
        box-sizing: border-box;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8fafc;
        border: 1px solid #e6eaee;
        padding: 8px 1em 8px 0.8em;
        border-radius: 12px;
        gap: 8px;
        > svg {
          margin: 0;
        }
        > span {
          font-size: 1em;
          font-weight: 500;
        }
      }
    }
  }
  > #analysis_summary {
    border: var(--container-border-normal);
    border-radius: var(--primary-border-radius);
    padding: 1em 1.4em;
    display: flex;
    justify-content: space-between;
    > #analysis_summary_left {
      display: flex;
      flex-direction: column;
      width: 60%;
      > div {
        display: flex;
        align-items: center;
        gap: 8px;
        > span {
          font-weight: 700;
          font-size: 1em;
        }
      }
      > p {
        opacity: 70%;
        font-weight: 450;
        line-height: 1.4em;
      }
    }
    > #analysis_summary_right {
      display: flex;
      flex-direction: column;
      gap: 1em;
      > #analysis_summary_card {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        background-color: white;
        padding: 0.8em 1.4em 0.8em 1em;
        border-radius: 8px;
        font-weight: 700;
        font-size: 12px;
        > svg {
          height: 1.5em;
        }
      }

      > .analysis_summary_critical {
        border: 1px solid var(--color-danger-bg);
        color: #b91c1c;
        > svg {
          fill: #b91c1c;
        }
      }

      > .analysis_summary_moderate {
        border: 1px solid var(--color-warning-bg);
        color: var(--color-warning);
        > svg {
          fill: var(--color-warning);
        }
      }

      > .analysis_summary_low {
        border: 1px solid var(--color-low-bg);
        color: var(--color-low);
        > svg {
          fill: var(--color-low);
        }
      }
    }
  }

  > #analysis_details {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 4px 4px 20px #e1e1e1;
    padding: 1em 1em 1em 2em;
    gap: 0.5em;
    border-radius: var(--primary-border-radius);
    border-top: var(--container-border-normal);
    border-right: var(--container-border-normal);
    border-bottom: var(--container-border-normal);

    > #analysis_details_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > #analysis_details_topleft {
        display: flex;
        align-items: center;
        gap: 1em;

        > svg {
          padding: 0.6em;
          border-radius: 12px;
        }
        > h4 {
          display: flex;
          flex-direction: column;
        }
      }
      > #analysis_details_topright {
        display: flex;
        > a {
          box-sizing: border-box;
          text-decoration: none;
          color: #0051f8;
          font-weight: 700;
          font-size: 14px;
          padding: 4px 0.8em;
          border-radius: 12px;
        }
        > a:hover {
          color: #022365;
          background-color: #0053f81d;
        }
      }
    }
    > #analysis_details_bottom {
      display: flex;
      gap: 3em;
      justify-content: space-between;
      > #analysis_details_bottomleft {
        display: flex;
        flex-direction: column;
        > span {
          font-size: 12px;
          font-weight: 700;
          opacity: 60%;
        }
        > p {
          background-color: #f8fafc;
          padding: 1em;
          line-height: 1.4em;
          border-radius: 12px;
          font-size: 12px;
          opacity: 80%;
          font-weight: 450;
        }
      }
      > #analysis_details_bottomright {
        display: flex;
        flex-direction: column;
        > span {
          font-size: 12px;
          font-weight: 700;
          opacity: 60%;
        }
        > p {
          background-color: var(--color-danger-bg);
          color: #b91c1c;
          padding: 1em;
          line-height: 1.4em;
          border-radius: 12px;
          font-size: 12px;
          font-weight: 450;
        }
      }
    }
  }

  > .analysis_details_high {
    border-left: 8px solid var(--color-danger);
    > #analysis_details_top {
      > #analysis_details_topleft {
        > svg {
          fill: var(--color-danger);
          background-color: var(--color-danger-bg);
        }
      }
    }
  }

  > .analysis_details_medium {
    border-left: 8px solid var(--color-warning);
    > #analysis_details_top {
      > #analysis_details_topleft {
        > svg {
          fill: var(--color-warning);
          background-color: var(--color-warning-bg);
        }
      }
    }
  }

  > .analysis_details_low {
    border-left: 8px solid var(--color-low);
    > #analysis_details_top {
      > #analysis_details_topleft {
        > svg {
          fill: var(--color-low);
          background-color: var(--color-low-bg);
        }
      }
    }
  }
}
