# DJango core
DJANGO_SECRET_KEY=YOUR_DJANGO_SECRET_KEY
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database
# DEV
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

#Prod
# DB_ENGINE=django.db.backends.postgres
# DB_NAME=YOUR_POSTGRES_DB_NAME
# DB_USER=YOUR_POSTGRES_USER_NAME
# DB_PASSWORD=YOUR_POSTGRES_USER_PASSWORD
# DB_HOST=127.0.0.1 (for local db)
# DB_PORT=5432 (default)

# Email Configuration
# EMAIL_BACKEND=django.core.mail.backends.smtp.EMAIL_BACKEND
# EMAIL_HOST=smtp.google.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER="emailhere"
# EMAIL_HOST_PASSWORD="passforemailhere"
# DEFAULT_FROM_EMAIL="emailehere"

# Security (random placeholder)
# SECURE_SSL_REDIRECT=False
# SECURE_HSTS_SECONS=0
# SESSION_COOKIE_SECURE=False
# CSRF_COOKIE_SECURE=False

# Static & Media Files 
STATIC_URL=static/ (default)
STATIC_ROOT=staticfiles (STATICROOT DIR)
MEDIA_URL=media/ (MEDIA FILES DIR )
MEDIA_ROOT=mediafiles/ (MEDIAROOT DIR)

# File upload Limits
# FILE_UPLOAD_MAX_MEMORY_SIZE=

# ADMIN 
# ADMIN_URL=admin/

