{% load static %}
<body>
  <link
    rel="stylesheet"
    href="{% static 'MediSafe/css/addMedications.css' %}" />
  <div id="addmeds_root">
    <div id="addmeds_header">
      <h3>Add New Medication</h3>
      <span>
        Enter the required pharmacological details to update the patient
        clinical record.
      </span>
    </div>
    <div id="addmeds_main">
      <form method="POST" id="addmeds_form" name="addmeds_form" action="{% url 'add_medications' %}">
        {% csrf_token %}
        <div class="input_fields" id="long_input_field">
          <span>Medication Name</span>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#303030">
              <path
                d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
            </svg>
            <input
              type="text"
              placeholder="Search medication name (e.g. Amoxicillin, Lisinopril)"
              name="medication_name"
              required />
          </div>
        </div>
        <div id="input_fields_duo">
          <div class="input_fields">
            <span>Dosage</span>
            <div id="dosage_box">
              <input type="text" placeholder="e.g. 500" required name="dosage_value" />
              <select name="dosage_unit">
                <option>mg</option>
                <option>g</option>
              </select>
            </div>
          </div>
          <div class="input_fields" id="frequency_box">
            <span>Frequency</span>
            <select name="dosage_frequency">
              <option>Select frequency</option>
              <option>Once per day</option>
              <option>Twice per day</option>
            </select>
          </div>
        </div>
        <div class="input_fields" id="big_input_box" >
          <span>Additional Notes / Instrustions</span>
          <textarea
            placeholder="Optional instructions (e.g. Take with food, avoid alcohol...)"
            name="medication_more"
            ></textarea>
        </div>
        <div id="bottom_buttons">
          <button type="button" id="cancel_btn" onclick="window.location.href=`{% url 'index' %}?page=medications`">Cancel</button>
          <button type="submit" id="submit_btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#ffffff">
              <path
                d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
            </svg>
            Add to List
          </button>
        </div>
      </form>
    </div>
    <div id="addmeds_bottom">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#005fb8">
        <path
          d="M440-280h80v-240h-80v240Zm68.5-331.5Q520-623 520-640t-11.5-28.5Q497-680 480-680t-28.5 11.5Q440-657 440-640t11.5 28.5Q463-600 480-600t28.5-11.5ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
      </svg>
      <h4>
        Clinical Reminder
        <span>
          Always cross-verify allergy records before prescribing new antibiotics
          or high-potency analgesics.
        </span>
      </h4>
    </div>
  </div>
</body>
