{% load static %}
<body>
  <link rel="stylesheet" href="{% static 'MediSafe/css/settings.css' %}" />
  <div id="settings_root">
    <div id="settings_header">
      <h3>Account Settings</h3>
      <span>
        Manage your personal details, secure your account and configure medical
        safety alerts.
      </span>
    </div>
    <form
      id="settings_body"
      name="settings_form"
      method="POST"
      action="{% url 'settings' %}">
      {% csrf_token %}
      <div id="settings_info">
        <div class="settings_sub_headers">
          <span>Personal Information</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#9CA3AF">
            <path
              d="M367-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm296.5-343.5Q560-607 560-640t-23.5-56.5Q513-720 480-720t-56.5 23.5Q400-673 400-640t23.5 56.5Q447-560 480-560t56.5-23.5ZM480-640Zm0 400Z" />
          </svg>
        </div>
        <div id="settings_info_body">
          <div class="settings_input_divs">
            <span>Full Name</span>
            <input
              type="text"
              name="fullname"
              placeholder="{{ user.full_name }}" />
          </div>
          <div class="settings_input_divs">
            <span>Professional Email</span>
            <input type="email" name="email" placeholder="{{ user.email }}" />
          </div>
        </div>
      </div>
      <div id="settings_security">
        <div class="settings_sub_headers">
          <span>Security</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#9CA3AF">
            <path
              d="M480-320q102-92 131-129.5t29-74.5q0-36-26-62t-62-26q-21 0-40.5 8.5T480-580q-12-15-31-23.5t-41-8.5q-36 0-62 26t-26 62q0 19 5 35t22 37.5q17 21.5 48.5 52.5t84.5 79Zm0 240q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-84q104-33 172-132t68-220v-189l-240-90-240 90v189q0 121 68 220t172 132Zm0-316Z" />
          </svg>
        </div>
        <div id="security_chpassword_div_par">
          <div id="security_chpassword_div">
            <h4>
              Account Password<span id="passch">Last changed 4 months ago</span>
            </h4>
            <button type="button">Change Password</button>
          </div>
        </div>
        <div class="settings_toggle_divs">
          <h4>
            Two-Factor Authentication (2FA)<span>
              Add an extra layer of security to your clinical account using OTP.
            </span>
          </h4>
          <label class="toggle-switch">
            <input
              type="checkbox"
              name="tfa"
              
              {% if user.profile.two_factor_auth %}
              checked
              
              {% endif %} />
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div id="settings_notification">
        <div class="settings_sub_headers">
          <span>Notification Preferences</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#9CA3AF">
            <path
              d="M80-560q0-100 44.5-183.5T244-882l47 64q-60 44-95.5 111T160-560H80Zm720 0q0-80-35.5-147T669-818l47-64q75 55 119.5 138.5T880-560h-80ZM160-200v-80h80v-280q0-83 50-147.5T420-792v-28q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v28q80 20 130 84.5T720-560v280h80v80H160Zm320-300Zm0 420q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM320-280h320v-280q0-66-47-113t-113-47q-66 0-113 47t-47 113v280Z" />
          </svg>
        </div>
        <div class="settings_toggle_divs">
          <h4>
            High-Priority Safety Alerts
            <span>
              Instant notification for drug interaction or urgent health
              warning.
            </span>
          </h4>
          <label class="toggle-switch">
            <input
              type="checkbox"
              name="safety_alerts"
              {% if user.profile.safety_alerts %}
              checked
              {% endif %} />
            <span class="slider"></span>
          </label>
        </div>
        <div class="settings_toggle_divs">
          <h4>
            Monthly Usage Reports
            <span>
              Receive a PDF summary of activity and aherence logs every months.
            </span>
          </h4>
          <label class="toggle-switch">
            <input
              type="checkbox"
              name="monthly_usage_reports"
              {% if user.profile.monthly_usage_reports %}
              checked
              {% endif %} />
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div id="settings_privacy">
        <div class="settings_sub_headers">
          <span>Data & Privacy</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#9CA3AF">
            <path
              d="M520-600v-240h320v240H520ZM120-440v-400h320v400H120Zm400 320v-400h320v400H520Zm-400 0v-240h320v240H120Zm80-400h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z" />
          </svg>
        </div>
        <div id="privacy_export_div">
          <div>
            <h4>
              Export Account Data
              <p>
                Download a secure CSV file containing all your medication logs
                and audit history for clinical record-keeping compliance
              </p>
            </h4>
            <button type="button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#000000">
                <path
                  d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z" />
              </svg>
              Export History
            </button>
          </div>
        </div>
        <div id="privacy_delete_div">
          <h4>
            Delete Clinical Account
            <p>
              Permanently remove all your clinical data. This action is
              irreversbile
            </p>
          </h4>
          <button type="button">Delete Account</button>
        </div>
      </div>
      <div id="settings_footer">
        <button type="button" id="logout_button" onclick="window.location.href=`logout`">Log Out</button>
        <button type="button" id="cancel_button">Cancel & Discard</button>
        <button type="submit" id="save_button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#ffffff">
            <path
              d="m424-296 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z" />
          </svg>
          Save Changes
        </button>
      </div>
    </form>
  </div>
</body>
