@import "variables.css";
#addmeds_root {
  font-family: var(--font-primary);
  box-sizing: border-box;
  width: 78%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  > div {
  }
  #addmeds_header {
    display: flex;
    flex-direction: column;
    height: 10%;
    > h3 {
      margin-bottom: 8px;
      margin-top: 0;
      font-size: 1.6em;
      font-weight: 700;
    }
    > span {
      font-weight: 550;
      opacity: 60%;
    }
  }
  #addmeds_main {
    height: 60%;
    #addmeds_form {
      height: 100%;
      width: 100%;
      background-color: white;
      border-radius: 18px;
      border: 2px solid #e2e2e2;
      box-shadow: 0px 4px 8px #e2e2e270;
      padding: 1.4em;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      #long_input_field {
        box-sizing: border-box;
        > div {
          height: 100%;
          width: 100%;
          box-sizing: border-box;
          display: flex;
          border: 2px solid #e2e2e2;
          border-radius: 8px;
          padding: 0em 0.4em;
          gap: 4px;
          > svg {
            height: 100%;
            width: 1.2em;
          }
          > input {
            width: 100%;
            outline: none;
            border: none;
          }
        }
      }
      .input_fields {
        display: flex;
        height: 3.2em;
        display: flex;
        flex-direction: column;
        gap: 4px;
        > span {
          font-weight: 600;
          font-size: 0.8em;
        }
      }
      #input_fields_duo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > div {
          width: 47%;
        }
      }
      #big_input_box {
        height: 40%;
        > textarea {
          margin-top: 4px;
          height: 100%;
          border-radius: 8px;
          border: 2px solid #e2e2e2;
          outline: none;
        }
      }
      #dosage_box {
        display: flex;
        flex-direction: row;
        width: 100%;
        border: 2px solid #e2e2e2;
        border-radius: 8px;
        height: 100%;
        justify-content: space-between;
        border-collapse: collapse;
        > input {
          width: 70%;
          outline: none;
          border: none;
          border-radius: 10px;
          display: flex;
          align-items: center;
          padding-left: 8px;
        }
        > select {
          width: 30%;
          border: none;
          border-left: 2px solid #e2e2e2;
        }
      }
      #frequency_box {
        > select {
          border: 2px solid #e2e2e2;
          outline: none;
          border-radius: 8px;
          padding: 0px 4px;
          height: 100%;
        }
      }
    }
  }
  #bottom_buttons {
    display: flex;
    border-top: 2px solid #e2e2e2;
    height: 10%;
    justify-content: end;
    align-items: center;
    padding-top: 1em;
    gap: 1em;
    > button {
      height: 2.5em;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      outline: none;
    }
    #cancel_btn {
      background-color: transparent;
      border: none;
      opacity: 70%;
      padding: 1.4em;
      font-weight: 700;
    }
    #cancel_btn:hover {
      color: #005fb8;
    }
    #submit_btn {
      background-color: #005fb8;
      padding: 0px 2em 0px 1em;
      color: white;
      border: none;
      border-radius: 8px;
      font-weight: 500;
    }
  }
  #addmeds_bottom {
    height: 14%;
    display: flex;
    align-items: center;
    background-color: #005fb810;
    border: 2px solid #005fb830;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 18px;
    gap: 1em;
    > h4 {
      display: flex;
      flex-direction: column;
      color: #005fb8;
      font-weight: 650;
      > span {
        margin-top: 4px;
        font-size: 13px;
        font-weight: 500;
        opacity: 80%;
      }
    }
  }
}


@keyframes shakeScreen {
  0%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-30px);
  }
  20% {
    transform: translateX(30px);
  }
  30% {
    transform: translateX(-20px);
  }
  40% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(10px);
  }
  70% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  90% {
    transform: translateX(-2px);
  }
}

.shake {
  animation: shakeScreen 0.5s ease-in-out;
}