@import "variables.css";

::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: grey;
}

#dash_root {
  font-family: "Inter", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* padding: 1em 2.5em 4px 2em; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  gap: 1em;

  #dash_top {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    #dash_top_greet {
      h2 {
        margin: 0;
        font-weight: 800;
        /* font-size: 2em; */
        font-size: var(--page-header-size);
        margin-bottom: 0.3em;
      }
      span {
        font-size: var(--page-subheader-size);
        font-weight: var(--page-subheader-weight);
        opacity: var(--page-subheader-opacity);
      }
    }

    #dash_top_buttons {
      width: 34%;
      display: flex;
      height: 70%;
      align-items: center;
      justify-content: space-between;
      button {
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        width: 44%;
        height: 94%;
        align-items: center;
        justify-content: center;
        gap: 4px;
        font-size: 0.8em;
        font-weight: 550;
      }
      #dash_history_button {
        background-color: white;
        border: var(--container-border-normal);
        color: #334155;
      }
      #dash_new_button {
        color: white;
        background-color: #005fb8;
        border: none;
        box-shadow: 2px 2px 4px #6183d9;
      }
    }
  }
  #dash_middle {
    display: flex;
    justify-content: space-between;
    /* padding: 0 1.2em; */
    box-sizing: border-box;
    margin: 0;
  }

  #dash_bottom {
    justify-content: space-between;
    /* padding-left: 1.6%; */
    width: 100%;
    box-sizing: border-box;
    #dash_bottom_left {
      background-color: white;
      border: var(--container-border-normal);
      border-radius: 12px;
      width: 100%;
      display: flex;
      padding-bottom: 1em;
      flex-direction: column;
      gap: 1em;
      height: fit-content;
      max-height: 72%;

      box-sizing: border-box;
      overflow-y: auto;
      #dash_botleft_header {
        padding: 0px 1.2em;
        display: flex;
        border-bottom: var(--container-border-normal);
        align-items: center;
        justify-content: space-between;
        height: 3em;
        h3 {
          font-weight: 600;
          font-size: 1em;
          color: black;
        }
        span {
          font-size: 0.8em;
          font-weight: 600;
          color: #005fb8;
          cursor: pointer;
        }
      }
      #dash_botleft_list {
        padding: 0px 1.3em;
        display: flex;
        flex-direction: column;
        gap: 1.6em;
        padding-bottom: 2em;
        overflow-y: auto;
        .dash_recent_li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 8px;

          .dash_li_img_div {
            svg {
              width: 2em;
              height: 2em;
              background-color: #f1f5f9;
              padding: 6px;
              border-radius: 8px;
            }
          }

          .dash_li_left {
            display: flex;
            align-items: center;
            gap: 1em;
          }
          .dash_li_right {
            display: flex;
            justify-content: end;
            gap: 2em;
            .dash_drug_interaction {
              font-size: 0.7em;
              font-weight: 600;
              padding: 4px 1em;
              border-radius: 10px;
            }
            .dash_li_eye {
              cursor: pointer;
            }
            .dash_li_eye:hover {
              fill: #005fb8;
            }
          }
        }
      }
    }
  }
}

.dash_drug_names {
  position: relative;
  padding: 0;
  margin: 0;
}
.dash_drugcheck_time {
  font-size: var(--list-subitem-size);
}

.dash_middle_cards {
  background-color: #ffffff;
  border: var(--container-border-normal);
  border-radius: 12px;
  padding: 1.5em;
  width: 27%;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6em;
    span {
      font-size: 14px;
      font-weight: 660;
      opacity: 60%;
    }
  }
  svg {
    padding: 2px;
    border-radius: 6px;
  }
  h3 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 4px;
    span {
      font-size: 14px;
      opacity: 60%;
    }
  }
}
#analytics_icon {
  background-color: #aecae5;
}
#pending_icon {
  background-color: #ffe2b9;
}
#safety_icon {
  background-color: #c7ffc7;
}
#dash_weekcheck_text {
  span {
    color: #06b128;
  }
}
.dash_drug_interaction_high {
  > span {
    background-color: #ffecec;
    color: red;
  }
}
.dash_drug_interaction_mod {
  > span {
    background-color: #f9e6d5;
    color: #f97f14;
  }
}
.dash_drug_interaction_low {
  > span {
    background-color: #e1ffd8;
    color: #085a13;
  }
}
