@import "variables.css";

#drug_check_root {
  margin: 0;
  /* padding: 3em 18em 2em 4em; */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Inter", "sans-sarif";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  #drug_check_title_div {
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
    > h2 {
      margin: 0;
      margin-bottom: 0.2em;
      font-size: var(--page-header-size);
      font-weight: var(--page-header-weight);
    }
    > span {
      opacity: var(--page-subheader-opacity);
      font-weight: var(--page-subheader-weight);
      font-size: var(--page-subheader-size);
    }
  }

  #drug_check_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 74%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    #drug_check_insert_div {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 22%;
      #drug_check_input_div {
        height: 98%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding-right: 1em;
        padding-left: 1em;
        box-sizing: border-box;
        border: var(--container-border-normal);
        background-color: white;
        border-radius: 8px;
        margin-bottom: 6px;
        > svg {
          width: 2em;
          height: 2em;
          padding: 4px;
          cursor: pointer;
        }
        > input {
          box-sizing: border-box;
          height: 100%;
          outline: none;
          border: 0;
          background-color: transparent;
          font-size: 18px;
          width: 96%;
          padding-left: 1em;
        }
        > input::placeholder {
          color: black;
          opacity: 40%;
          font-weight: 520;
        }
      }
      #drug_check_input_extra {
        height: 1.4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          display: flex;
          align-items: center;
          gap: 4px;
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
    #drug_check_choosen_div {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 30%;
      padding-top: 1em;
      box-sizing: border-box;
      margin-bottom: 2em;
      > span {
        font-weight: 600;
        color: #5c5c5c;
        display: flex;
        align-items: center;
        gap: 1em;
        > span {
          color: black;
          font-size: 0.8em;
          font-weight: 650;
          background-color: #ececec;
          padding: 4px 8px;
          border-radius: 10px;
        }
      }
      > div {
        display: flex;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: end;
        gap: 1em;

        .drug_choosen_card {
          background-color: white;
          border: 2px solid #e2e2e2;
          width: 50%;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 4px 0.4em 4px 1em;
          box-sizing: border-box;
          border-radius: 8px;
          border-left: 4px solid #005fb8;
          box-shadow: 0px 4px 4px #ebebeb;
          > div {
            display: flex;
            align-items: center;
            gap: 1em;
            > svg {
              background-color: #005fb810;
              padding: 6px;
              border-radius: 100%;
            }
            > div {
              display: flex;
              flex-direction: column;
              gap: 2px;
              > span {
                font-size: 16px;
                font-weight: 700;
              }
              > p {
                margin: 0;
                font-size: 14px;
                opacity: 50%;
              }
            }
          }
          > button {
            border: none;
            background-color: transparent;
          }
        }
      }
    }
    #drug_check_extras_div {
      width: 100%;
      height: 18%;
      border: 2px solid #005fb80d;
      background-color: #005fb811;
      display: flex;
      align-items: center;
      padding: 1em;
      box-sizing: border-box;
      border-radius: 10px;
      gap: 1em;
      > svg {
        width: 2em;
        height: 2em;
        background-color: var(--seed-color);
        padding: 8px;
        border-radius: 100%;
      }
      > div {
        display: flex;
        flex-direction: column;
        > span {
          font-weight: 700;
          color: var(--seed-color);
        }
        > p {
          margin: 0;
          font-size: 14px;
          margin-top: 2px;
          opacity: 50%;
        }
      }
    }
    #drug_check_button {
      height: 12%;
      display: flex;
      gap: 6px;
      align-items: center;
      justify-content: center;
      width: 34%;
      border-radius: 12px;
      color: white;
      background-color: var(--seed-color);
      font-size: 18px;
      font-weight: 600;
      border: none;
      box-shadow: 0px 4px 8px #005fb85d;
    }
  }
  #drug_check_warning {
    width: 56%;
    text-align: center;
    opacity: 60%;
    font-size: 12px;
  }
}
