@import "variables.css";

#history_root {
  padding: 0em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1em;
  font-family: "Inter", "sans-sarif";
  #history_topfirst {
    display: flex;
    align-items: center;
    justify-content: space-between;
    #history_text {
      display: flex;
      flex-direction: column;
      > h2 {
        margin: 0;
        margin-bottom: 4px;
        font-size: var(--page-header-size);
        font-weight: var(--page-header-weight);
      }
      > span {
        opacity: var(--page-subheader-opacity);
        font-weight: var(--page-subheader-weight);
      }
    }
    #history_top_buttons {
      display: flex;
      gap: 1em;
      width: 28%;
      height: 55%;
      align-items: center;
      justify-content: space-between;
      > button {
        border: var(--container-border-normal);
        width: 50%;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: 8px;
        font-size: 14px;
        font-weight: 550;
        background-color: white;
        border-radius: 10px;
        color: #585858;
      }
    }
  }

  #history_topsecond {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: var(--container-border-normal);
    padding: 0.9em 1em;
    box-sizing: border-box;
    height: 10%;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1.5em;
    > div {
      display: flex;
      border: var(--container-border-normal);
      background-color: #f5f7f8;
      border-radius: 10px;
      width: 73%;
      height: 100%;
      align-items: center;
      padding-left: 0.5em;
      box-sizing: border-box;
      gap: 4px;
      > svg {
        height: 100%;
      }
      > input {
        width: 100%;
        height: 90%;
        outline: none;
        border: none;
        background-color: transparent;
      }
    }

    #filter_button {
      width: 3%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: var(--container-border-normal);
      border-radius: 8px;
    }

    .history_top_buttons {
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 4px;
      background-color: #f5f7f8;
      border: var(--container-border-normal);
      border-radius: 8px;
      box-sizing: border-box;
      font-size: 12px;
      font-weight: 600;
      color: #585858;
      justify-content: center;
      outline: none;
    }
  }
  #history_main {
    border: var(--container-border-normal);
    max-height: 52%;
    /* height: 52%; */
    min-height: fit-content;
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    #history_main_columns {
      border-bottom: var(--container-border-normal);
      height: 12%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.7em 5em 0.7em 2em;
      > span {
        font-weight: 600;
        color: #585858;
        font-size: 0.9em;
      }
    }
    #history_main_table {
      overflow-y: auto;
      padding: 0em;
      height: fit-content;
      max-height: 16em;
      margin: 0;

      .history_card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        padding: 1em 1em 1em 2em;
        border-bottom: var(--container-border-normal);
        gap: 0em;
        .history_card_date {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          width: 11%;
          > h3 {
            margin: 0;
            margin-bottom: 4px;
            font-size: 1em;
          }
          > span {
            font-size: 0.8em;
            color: #585858;
            font-weight: 550;
          }
        }
        .history_card_drugs {
          display: flex;
          gap: 1em;
          box-sizing: border-box;
          width: 18%;
          margin-right: 0;
          > span {
            background-color: #ecf0f3;
            border: var(--container-border-normal);
            padding: 4px 1em;
            border-radius: 8px;
          }
        }
        .history_card_risk_high,
        .history_card_risk_mod,
        .history_card_risk_low {
          font-size: 0.8em;
          display: flex;
          align-items: center;
          gap: 0.6em;
          font-weight: 600;
          padding: 0.3em 1em;
          border-radius: 1em;
          width: fit-content;
          > div {
            width: 8px;
            height: 8px;
            border-radius: 100%;
          }
        }
        > a {
          width: 12%;
          text-decoration: none;
          color: #005fb8;
          font-weight: 600;
        }
      }
    }
    #history_main_bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.7em 4em 0.7em 1em;
      border-top: 1px solid #e2e2e2;

      > span {
        color: #585858;
        font-size: 0.8em;
      }
      > div {
        display: flex;
        gap: 4px;
        > button {
          height: 2em;
          width: 1.8em;
          border: 2px solid #e2e2e2;
          background-color: white;
          padding: 0.2em;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #585858;
          font-weight: 550;
          border-radius: 6px;
        }
        > button:hover {
          background-color: #005fb8;
          color: white;
        }
      }
    }
  }
  #history_bottom {
    border: 1px solid #a6c6e4;
    height: fit-content;
    background-color: #ecf4fc;
    padding: 1em 1em;
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-radius: 12px;
    gap: 1em;
    > svg {
      background-color: #daedff;
      padding: 0.4em;
      border-radius: 100%;
    }
    > div {
      display: flex;
      flex-direction: column;
      gap: 4px;
      > span {
        font-weight: 700;
        color: #005fb8;
      }
      > p {
        margin: 0;
        color: #585858;
      }
    }
  }
}
.history_card_risk_high {
  background-color: #ffe3e3;
  > div {
    background-color: red;
  }
  > span {
    color: red;
  }
}

.history_card_risk_mod {
  background-color: #fff1e3;
  > div {
    background-color: #d37b07;
  }
  > span {
    color: #d37b07;
  }
}

.history_card_risk_low {
  background-color: #ecffe3;
  > div {
    background-color: #0f903e;
  }
  > span {
    color: #0f903e;
  }
}
